<form class="row g-3 needs-validation" novalidate #userForm="ngForm">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="userObj.firstName" class="form-control" minlength="3" required>
    <div class="text-danger" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty) || isFormSubmited"> 
      <span *ngIf="firstName.errors?.['required']">Este campo es obligatorio</span>
      <span *ngIf="firstName.errors?.['minlength']">Se requieren al menos 3 caracteres</span> 
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellido</label>
    <input type="text" name="lastName" [(ngModel)]="userObj.lastName" class="form-control" id="validationCustom02">
    
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Nombre de Usuario</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
      <input type="text" name="userName" #email="ngModel" [(ngModel)]="userObj.userName" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" required>
    </div>
    <div class="text-danger" *ngIf="email.invalid && (email.touched || email.dirty) || isFormSubmited">
      <span *ngIf="email.errors?.['required']">Este campo es obligatorio</span>
      <span *ngIf="email.errors?.['pattern']">El correo electrónico no es válido</span>
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom03" class="form-label">Ciudad</label>
    <input type="text" name="city" [(ngModel)]="userObj.city" class="form-control" id="validationCustom03">
  
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Estado</label>
    <select class="form-select" name="state" [(ngModel)]="userObj.state" id="validationCustom04">
      <option selected disabled value="">Elija...</option>
      <option>Soltero </option>
      <option>casado</option>
      <option>otro</option>
    </select>
    <!-- <div class="text-danger">
      Por favor, seleccione un estado válido.
    </div> -->
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Código Postal</label>
    <input type="text" name="zipcode" [(ngModel)]="userObj.zipcode" class="form-control" id="validationCustom05">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" name="isAggree" [(ngModel)]="userObj.isAggree" type="checkbox" value="" id="invalidCheck">
      <label class="form-check-label" for="invalidCheck">
        Acepto los términos y condiciones
      </label>
    </div>
  </div>
  <div class="col-12">
    {{!userForm.form.valid}}
    <button class="btn btn-primary" [disabled]="!userForm.form.valid" type="button" (click)="onSubmit(userForm)">Enviar formulario</button>
  </div>
</form>
